<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/img/A-64.png" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="activate">
                <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
            </li>
            <!--
            <li class="nav-item" routerLinkActive="activate">
                <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
            </li>
            
            <li class="nav-item" routerLinkActive="activate">
                <a class="nav-link" [routerLink]="['about']">About</a>
            </li>
            <li class="nav-item" routerLinkActive="activate">
                <a class="nav-link" [routerLink]="['fotos']">Fotos</a>
            </li>
            <li class="nav-item" routerLinkActive="activate">
                <a class="nav-link" [routerLink]="['carga']">Carga</a>
            </li>
            -->
            <li class="nav-item" routerLinkActive="activate">
                <a class="nav-link" [routerLink]="['panelu']">panel Usuario</a>
            </li>
            <li class="nav-item" routerLinkActive="activate">
                <a class="nav-link" [routerLink]="['michat']">Mi Chat!</a>
            </li>
            <li class="nav-item" routerLinkActive="activate">
                <a class="nav-link" [routerLink]="['tienda']">Tienda</a>
            </li>
            <li class="nav-item" routerLinkActive="activate">
                <a class="nav-link" [routerLink]="['carrito']"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Mi Carrito</a>
            </li>
            <li class="nav-item" routerLinkActive="activate">
                <a class="nav-link" [routerLink]="['panela']">Administrador</a>
            </li>
            <li class="nav-item" routerLinkActive="activate">
                <button (click)="cerrarSesion()" class="btn btn-light">Cerrar Sesion</button>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar Producto" (keyup.enter)="buscarHeroe(buscarTexto.value)" #buscarTexto>

            <button (click)="buscarHeroe(buscarTexto.value)" class="btn btn-secondary my-2 my-sm-0" type="button">Buscar</button>
        </form> -->
    </div>
</nav>