<div class="row">
    <div class="col">
        <h1>*NGIF</h1>
        <hr>

        <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="width:100%;">
            <div class="card-body">
                <h4 class="card-title">{{frase.autor}}</h4>
                <p class="card-text">{{frase.mensaje}}</p>
            </div>
        </div>

        <button (click)="mostrar = !mostrar" class="btn btn-outline-primary">
            Mostrar/Ocultar
        </button>
    </div>
    <div class="col">
        <h1>*NGFOR</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let personaje of personajes; let i = index;" class="list-group-item d-flex justify-content-between align-items-center">
                {{i +1 }} - {{personaje}}
            </li>

        </ul>
    </div>
</div>