<br>
<h2>Ordenar por:</h2>
<br>
<div class="btn-group" role="group" aria-label="Basic example">
    <button (click)="ordenCategoria()" type="button" class="btn btn-primary">Categoria</button>
    <button (click)="ordenPrecioAsc()" type="button" class="btn btn-primary">Precio Ascendente</button>
    <button (click)="ordenPrecioDesc()" type="button" class="btn btn-primary">Precio Descendente</button>
    <button (click)="quitarFiltro()" type="button" class="btn btn-danger">Quitar Filtro</button>
</div>
<br>
<br>
<h3>O buscar por palabras claves:</h3>

<input class="form-control" type="text" placeholder="Buscar Producto" (keyup.enter)="buscarProducto(buscarTexto.value)" #buscarTexto>
<br>

<button (click)="buscarProducto(buscarTexto.value)" class="btn btn-primary my-2 my-sm-0" type="button">Buscar</button>

<hr>
<div class="card-columns">
    <div class="card animated fadeIn shadow p-3 mb-5 bg-white rounded" *ngFor="let producto of productos; let i = index;">
        <img src={{producto.Imagen}} class="card-img-top">
        <div class="card-body">

            <h2 class="card-title">{{producto.Nombre}}</h2>
            <h3 class="card-title">Categoria: {{producto.Categoria}}</h3>
            <p class="card-text">{{producto.Descripcion}}</p>
            <p class="card-text"><small class="text-muted">Precio: {{producto.Precio}}</small></p>
            <button (click)="verProducto(producto)" class="btn btn-primary">Ver Producto</button>
            <!-- <a [routerLink]="['/heroe',i]" class="btn btn-primary">Go somewhere</a>  -->
        </div>
    </div>

</div>